#donateButton:hover {
  background-color: rgb(245, 245, 245, 0.4);
  border-color: white;
}

.menuButton:hover {
  background-color: rgb(245, 245, 245, 0.4);
}

.active {
  text-decoration: underline;
  text-underline-offset: 8px;
}
