.missionContainer {
  background-color: var(--primary-green);
  color: white;
}

.missionStatement {
  padding: 6rem;
}

.missionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.valuePaper {
  padding: 1rem;
  color: var(--primary-green);
  font-size: 12px;
}

.sectionTitles {
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.1;
}
