.missionContainer {
  min-height: 80vh;
  color: white;
  position: relative;
}

.missionContainer:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2rem;
  pointer-events: none;
  background-image: linear-gradient(
    to left,
    rgba(239, 244, 252, 0),
    rgba(211, 224, 216, 1) 50%
  );
  width: 100%;
  height: 100%;
}

.sectionTitle {
  color: var(--primary-green);
  text-transform: uppercase;
}

.missionTxt {
  padding: 6rem;
  background-color: rgb(211, 224, 216);
  z-index: 2;
}

.missionStatement {
  line-height: 1.5;
  color: grey;
}

.missionImage {
  background-image: url("/images/ministry/Love_the_fatherless.jpg");
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.valuePaper {
  padding: 1rem;
  color: var(--primary-green);
  font-size: 12px;
}

@media only screen and (max-width: 500px) {
  .missionTxt {
    padding: 3rem;
  }

  .missionImage {
    background-image: "none";
  }
}
