.formDiv {
  border-top: 40px solid var(--light-green);
}

#stripeBadge {
  width: 150px;
}

.child {
  display: inline-block;
  vertical-align: middle;
}

#hhhTitle {
  color: var(--primary-green);
}
