html,
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-green: rgb(76, 127, 100);
}

.MuiCard-root {
  background-color: var(--primary-green);
}

/*
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-roboto: "Roboto";

  --primary-green-rgb: 176, 199, 177;
  --secondary-blue-rgb: 29, 29, 53;
  --secondary-lime-rgb: 235, 254, 245;
  --foreground-rgb: var(--secondary-blue-rgb);
  --background-start-rgb: var(--primary-green-rgb);
  --background-end-rgb: var(--secondary-lime-rgb);

  --tile-start-rgb: 255, 255, 255;
  --tile-end-rgb: var(--primary-green-rgb);
  --tile-border: conic-gradient(
    #b2c5aa,
    #b2c5aa,
    #b2c5aa,
    #b2c5aa,
    #b2c5aa,
    #b2c5aa,
    #b2c5aa
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 255, 255, 255;
  --card-rgb: var(--secondary-blue-rgb);
  --card-border-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 178, 197, 170;
    --background-end-rgb: 178, 197, 170;

    --primary-glow: radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0)
    );
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */
