.headerGrid {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.headerGrid::before {
  content: "";
  background-image: url("/images/Pignon.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -250px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.headerGrid::after {
  content: "";
  background-color: rgb(76, 127, 100, 0.2);
  position: absolute;
  top: -80px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.greeting {
  z-index: 100;
  color: white;
  padding: 1rem;
}

#learnMoreButton {
  margin-top: 1rem;
  color: white;
  border-color: white;
}
#learnMoreButton:hover {
  color: var(--primary-green);
  background-color: whitesmoke;
}

.cardsContainer {
  padding: 3rem 6rem;
  background-color: var(--light-green);
  border-top: 25px solid white;
}

.navigationCard:hover {
  background-color: whitesmoke;
}

@media only screen and (max-width: 500px) {
  .headerGrid::before {
    background-image: url("/images/ministry/lavi.jpg");
    top: -80px;
  }

  .headerGrid::after {
    content: "";
    background-color: rgb(76, 127, 100, 0.3);
    position: absolute;
    top: -60px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .greeting {
    margin-top: 60vh;
    font-size: 3rem;
  }

  .cardsContainer {
    padding: 3rem;
  }
}
