.headerGrid {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
.headerGrid::before {
  content: "";
  background-image: url("/images/ministry/CircleOfKiddos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -225px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.headerGrid::after {
  content: "";
  background-color: rgb(76, 127, 100, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.greeting {
  z-index: 100;
  color: white;
  z-index: 100;
  padding: 1rem;
  margin-top: 20vh;
}

#learnMoreButton {
  margin-top: 1rem;
  color: white;
  border-color: white;
}
#learnMoreButton:hover {
  color: var(--primary-green);
  background-color: whitesmoke;
}

.cardsContainer {
  padding: 3rem 6rem;
  background-color: rgb(76, 127, 100, 0.25);
  border-top: 25px solid white;
}

.navigationCard:hover {
  background-color: whitesmoke;
}

#donateButton {
  margin-left: 1rem;
}

#donateButton:hover {
  color: var(--primary-green);
  border: 2px solid var(--primary-green);
}

@media only screen and (max-width: 400px) {
  .headerGrid::before {
    background-size: contain;
    top: 0px;
  }

  .greeting {
    margin-top: 40vh;
  }
}
