.headerGrid {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}
.headerGrid::before {
  content: "";
  background-image: url("/images/ministry/CircleOfKiddos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -200px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.headerGrid::after {
  content: "";
  background-color: rgb(76, 127, 100, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.MuiTypography-root.verse {
  z-index: 100;
  color: white;
}

.cardsContainer {
  padding: 3rem 6rem;
}

#donateButton {
  margin-left: 1rem;
}

#donateButton:hover {
  color: var(--primary-green);
  border: 2px solid var(--primary-green);
}
