.storyContainer {
  color: var(--primary-green);
}

.storyDescription {
  padding: 6rem;
}

.imgListGrid {
  height: 65vh;
}

.imgList {
  height: 100%;
  width: 100%;
  margin-block-start: unset;
  margin-block-end: unset;
}

.imgListItem {
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.imgListItem:hover {
  filter: grayscale(0);
}
