.storyContainer {
  color: grey;
  line-height: 1.5;
}

.storyDescription {
  padding: 6rem;
}

.imgListGrid {
  height: 80vh;
  border: 15px solid white;
}

.imgList {
  height: 100%;
  width: 100%;
  margin-block-start: unset;
  margin-block-end: unset;
}

.imgListItem {
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.imgListItem:hover {
  filter: grayscale(0);
}

.sectionTitle {
  color: var(--primary-green);
  text-transform: uppercase;
}

.clinicLink {
  color: var(--primary-green);
}

.clinicLink:hover {
  color: grey;
}

@media only screen and (max-width: 500px) {
  .storyDescription {
    padding: 3rem;
  }
}
