.storyContainer {
  color: var(--primary-green);
}

.storyDescription {
  padding: 6rem;
}

.imgListItem {
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.imgListItem:hover {
  filter: grayscale(0);
}
