.pageTitle {
  padding: 2rem;
  width: 100%;
  opacity: 0.6;
  background-color: var(--primary-green);
  color: white;
}

.teamTitle {
  color: var(--primary-green);
  padding: 3rem;
  text-align: center;
}
