.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 8vh;
}
.banner::before {
  content: "";
  background-image: url("/images/ministry/CircleOfKiddos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -600px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.banner::after {
  content: "";
  background-color: rgb(76, 127, 100, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.gridRows {
  min-height: 75vh;
  border: 15px solid white;
  border-bottom: 0;
  align-items: center;
  position: relative;
}

.textGrid {
  background-color: rgb(76, 127, 100, 0.3);
  min-height: 75vh;
  outline: 8px double var(--primary-green);
  outline-offset: -32px;
  padding: 3rem;
}

.sectionTitles {
  color: var(--primary-green);
  font-weight: 400;
  margin-top: 6rem;
}

.ministryDescription {
  margin: 1rem 6rem;
}

#orphanImage {
  background-image: url("/images/ministry/Love_the_fatherless.jpg");
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-left: 15px solid white;
}

#milkClinicImage {
  background-image: url("/images/ministry/milk_clinic.jpg");
  content: "";
  z-index: -2;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#milkClinicDescription {
  border-left: 15px solid white;
}
