.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
.banner::before {
  content: "";
  background-image: url("/images/ministry/holding_hands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -100px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-position: center center;
}

.banner::after {
  content: "";
  background-color: rgba(76, 127, 100, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.pageTitle {
  color: white;
  z-index: 200;
  margin-top: 40vh;
  text-transform: uppercase;
  width: 100%;
}

.gridRowsLeft {
  text-align: left;
  position: relative;
}

.gridRowsRight {
  position: relative;
  border-bottom: 0;
  text-align: left;
}

.gridRowsLeft:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 2rem;
  pointer-events: none;
  background-image: linear-gradient(
    to left,
    rgba(239, 244, 252, 0),
    rgba(211, 224, 216, 1) 50%
  );
  width: 100%;
  height: 100%;
}

.textGridLeft {
  z-index: 4;
  background-color: rgb(211, 224, 216);
}

.textGridRight {
  background-color: white;
}

#orphanCareImage {
  background-image: url("/images/ministry/Love_the_fatherless.jpg");
  z-index: -2;
  width: 100%;
  height: "auto";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 40px solid white;
}

#milkClinicImage {
  background-image: url("/images/ministry/babyWoodyDrinkingMilk.jpg");
  content: "";
  z-index: -2;
  width: 100%;
  height: "auto";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-left: 15px solid white;
}

#feedingClinicImage {
  background-image: url("/images/ministry/feeding_clinic.jpeg");
  content: "";
  z-index: -2;
  width: 100%;
  height: "auto";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-left: 15px solid white;
}

#communityOutreachImage {
  background-image: url("/images/ministry/community_outreach.jpeg");
  content: "";
  z-index: -2;
  width: 100%;
  height: "auto";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 40px solid white;
}

#learnMoreButton {
  margin-top: 1rem;
  color: white;
  background-color: var(--primary-green);
}
@media only screen and (max-width: 500px) {
  .ministryDescription {
    margin: 1rem 1rem;
  }

  #orphanCareImage {
    height: 50vh;
    border-bottom: 0;
  }

  #milkClinicImage {
    height: 50vh;
    border-left: 40px solid rgb(211, 224, 216);
    border-right: 40px solid rgb(211, 224, 216);
    border-bottom: 40px solid rgb(211, 224, 216);
    position: static;
  }

  .gridRowsLeft:after {
    background-image: none;
    left: 0;
  }

  #feedingClinicImage {
    border-left: 40px solid rgb(211, 224, 216);
    border-right: 40px solid rgb(211, 224, 216);
    border-bottom: 40px solid rgb(211, 224, 216);
    height: 50vh;
  }

  #communityOutreachImage {
    height: 50vh;
    border-bottom: 0;
  }
}
